# Data Science Tools and Ecosystem

## Author
Amitoj

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List some of the popular languages for Data Science
- List some of the commonly use libraries used in Data Science
- List some data science tools
- Evaluate some arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy

|Data Science Tools|
|------------------|
|Jupyter Lab       |
|RStudio           |
|Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours,"hours")

3.3333333333333335 hours